@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,600;1,200;1,600&family=Fraunces:ital,wght@0,600;0,700;0,900;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

html{
    overflow-x: hidden;
}
body{
    font-family: $primary--fonts;
}