@import './main.scss';
.body{
    height: 250vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .body-first-card{
        padding:  17% 20% 10% 17%;
        .body-first-card-header{
            font-family: $seconadary--fonts;
            font-size: 1.7rem;
            width: 300px;
        }
        .body-first-card-paragraph{
            font-size: 0.8rem;
            line-height: 1.3rem;
            margin-top: 30px;
        }
        .body-last-card-paragraph{
            margin-top: 15%;
            font-weight: 700;
            text-transform: capitalize;
            font-family: $seconadary--fonts;
        }
    }
    .body-second-card{
      background-image: url('/assets/desktop/image-transform.jpg');
      background-size: cover;
    }
    .body-third-card{
       background-image: url('/assets/desktop/image-stand-out.jpg');
       background-size: cover;
    }
    .body-fourth-card{
        
    }
    .body-fifth-card{
        background-image: url('/assets/desktop/image-graphic-design.jpg');
        background-size: cover;
    }
    .body-sixith-card{
      background-image: url('/assets/desktop/image-photography.jpg');
      background-size: cover;
    }
}