@import './main.scss';

nav{
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px 20px;
    @include ms {
        padding: 20px 10px 20px 10px;
        justify-content: space-between;
    }
    .logo{
        width: 120px;
        img{
            width: 100%;
        }
    }
    .#{&}-items{
        display: flex;
        align-items: center;
        column-gap: 30px;
        list-style: none;
        @include ms{
            display: flex;
            position: absolute;
            top: 100px;
            left: 20px;
            right: 20px;
            height: 30vh;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            background-color: $White;
            flex-direction: column;
            transition: display 0.3s;
        }
        .nav-links{
            text-transform: capitalize;
            font-size: 0.8rem;
            font-weight: 500;
            color: $White;
            @include ms{
                font-weight: 600;
                color: $Dark-grayish-blue;
            }
            button{
                color: $Very-dark-desaturated-blue;
                width: 100px;
                border-radius: 30px;
                border: none;
                background-color: $White;
                font-family: $seconadary--fonts;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.7rem;
                padding: 10px;
                @include ms{
                    font-size: 0.8rem;
                    width: 120px;
                    background-color: $Yellow;
                }
            }
        }

    }

    .hamburger{
        display: none;
        @include ms{
            display: block;
        }
    }
    .nav-close{
        transition: display 0.3s;
        display: none;
    } 
}